@inherits LayoutComponentBase
@inject IStringLocalizer<MyStrings> Localizer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <select class="form-control" 
            @bind="Culture"
            style="width:50px;">
                @foreach (var culture in cultures)
                {
                    <option value="@culture">
                        @culture.DisplayName
                    </option>
                }
            </select>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    CultureInfo[] cultures = new[]
    {
        new CultureInfo("ru-RU"),
        new CultureInfo("en-US")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                Thread.CurrentThread.CurrentCulture = value;
                Thread.CurrentThread.CurrentUICulture = value;
                CultureInfo.DefaultThreadCurrentCulture = value;
                CultureInfo.DefaultThreadCurrentUICulture = value;

                Preferences.Set("language", value.Name);
            }
        }
    }
}
